
.containerHabilidades{
    height: 100vh;

    background-color: black;
    
}

.title2 {
    width: 100%;
    text-align: center;
    padding-top: 120px;
    font-family: 'League Gothic', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.sectionHabilidades {
    margin-top: 5%;
    display: flex;

    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, rgb(30, 255, 0), rgb(23, 138, 8));
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.1) rotate(-3deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
    top: -50%;
    left: -50%;
    transform: rotate(45deg);
    transition: all 0.5s ease;
    z-index: 0;
}

.card:hover::before {
    top: -30%;
    left: -30%;
}

.card-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.card-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.card:hover .card-content {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .card {
        width: 150px;
        height: 150px;
    }

    .card-content h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 120px;
        height: 120px;
    }

    .card-content h2 {
        font-size: 1rem;
    }
}
