* {
    font-family: 'Courier New', Courier;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    
}

header.scrolled {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.514);
}

.title {
    font-family: "Poppins", serif;
}
